.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.columnReverse{
    flex-direction: column-reverse;
}
.rowReverse{
    flex-direction: row-reverse;
}

/*-- justify-content: --*/

        .center{
            justify-content: center;
        }
        .flexEnd{
            justify-content: flex-end;
        }
        .flexStart{
            justify-content: flex-start;
        }
        .spaceBetween{
            justify-content: space-between;
        }
        .spaceAround{
            justify-content: space-around;
        }
        .spaceEvenly{
            justify-content: space-evenly;
        }

/*-- align-items: --*/
        .flexAlign{
            display: flex;
            align-content: center;
        }
        .alignItemsCenter{
            align-items: center;
        }
        .alignItemsFlexEnd{
            align-items: center;
        }

/*-- flex-wrap: --*/
        .wrap{
            flex-wrap: wrap;
        }
        .wrapReverse{
            flex-wrap: wrap-reverse;
        }





/*----- text color -----*/
.defaultSectionsBox:nth-child(1) * ,
.defaultSectionsBox:nth-child(3) * ,
.defaultSectionsBox:nth-child(5) * ,
.defaultSectionsBox:nth-child(8) * {
    color: var(--darktext);
}
.defaultSectionsBox:nth-child(4) * {
    color: var(--lighttext);
    
}
.defaultSectionsBox:nth-child(4) .bandeau{
    background-color: var(--brown);    
}

.defaultSectionsBox:nth-child(6) * {
    color: var(--lighttext);  
}
.defaultSectionsBox:nth-child(6) .bandeau{
    background-color: var(--darkblue);    
}