@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

:root {
    --lightblue: #0080c9;
    --darkblue: #002f4a;
    --brown: #936037;
    --green: #63b32e;

    --boxshadow: 2px 4px 3px #00000084;

    --buttonradius: 5px;
    --panelradius: 15px;
    --mainwidth: min(100%, 1200px);

    --navbarheight: 15vh;

    --nonvisitedlink: #004890;
    --visitedlink: #540875;
    --darktext: #002f4a;
    --lighttext: #ffffff;
}

/*----- global page structure -----*/
        .navBar{
            height: var(--navbarheight);
            position: sticky;
            top: 0;
            z-index: 10;
        }
/*----- compensates for navBar thickness when jumping 
to sections with filter buttons -----*/
        .teamSection{
            padding-top: 10vh;
        }



.mainWidth{
    width: min(100%, 1200px);
    padding: 0 20px;
}
.shadow{
    box-shadow: var(--boxshadow);
}
.panel{
    padding: 20px;
    border-radius: var(--panelradius);
}
.marginTop20{
    margin-top: 20px;
}
.marginAuto{
    margin: auto;
}
/*-- icons --*/

                .icon, i{
                    font-family: 'Material Icons';
                    cursor: pointer;
                    
                }

                
/*----- buttons -----*/

                button, .button{
                    /* font-size: 20px; */
                    font-weight: 600;
                    padding: 10px;
                    border-width: 0;
                    border-radius: var(--buttonradius);
                    box-shadow: var(--boxshadow);
                    cursor: pointer;
                }
                .lightBtn{
                    color: var(--darkblue);
                    background-color: #fff;
                    
                }
                .lightBtn:hover{
                    color: white;
                    background-color: var(--darkblue);
                    
                }
                
/*----- section common styles -----*/

                .topSectionTopMargin{
                    margin-top: max(30px, 5vw);
                }
                .pageTopText{
                    font-size: max(14px, 1.2vw);
                }
                .sectionPadding{
                    padding: 50px 0;
                }
                .sectionMarginTop{
                    margin-top: 50px;
                }

/*----- Links to external pages -----*/
.externalLink{
    color: var(--nonvisitedlink);
}
.externalLink:visited{
    color: var(--visitedlink);
}

.pricingTable{
    width: 100%;
    border-width: 2px;
    border-style: solid;
}
.pricingTable .tarif{
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}
.pricingTable .row{

    display: flex;  
}
.pricingTable .row .cell{
    width: calc(100% / 3);
    
    border-width: 1px;
    border-style: solid;
}
.lightTable, .lightTable *, .lightTable * *{
    border-color: white;
}
.darkTable, .darkTable *, .darkTable * *{
    border-color: var(--darkblue);
}
.pricingTable * * {
    padding: max(2px, 0.3vw) 0;
    font-size: max(10px, 1vw)
}